.educations {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.educations .formation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.educations .formation ul li img {
    max-width: 90px;
    margin: 0.5rem;
}

.educations .degree ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;  
}

.educations .degree ul li {    
    padding: 0rem;
}

.educations li {
    margin-bottom: 0rem;
    list-style: none;
}

.educations li .period {
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.educations li .period::before {  
    content: '';
    display: inline-block;  
    background-image: url('../img/icons/calendar.svg');   
    background-repeat: no-repeat;
    background-size: contain;  
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

@media only screen and (max-width: 518px) {
    .educations {
        display: grid;
        grid-template-columns: .5fr;
    }
}

@media only screen and (min-width: 768px) {
    .educations {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
